.form-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
  }
 
  .title-group {
    display: flex;
    align-items: center;    
  }
  
  .title-group select {
    margin-right: 5px;
  }
  /* Resto de los estilos */
  .form-group input[type="number"] {
    width: 70px; /* Ajusta el ancho según tus preferencias */
  }

  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .form-group label {
    margin-right: 5px;
    font-size: 20px;
  }

  .form-group select {
    font-size: 20px;
  }

  .variable-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.variable-group p {
  margin-right: 10px;
}

.variable-group p:last-child {
  margin-right: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  margin-left: 10px;
  font-size: 55px;
}

.variables-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.variables-container div {
  margin-left: 40px;
  justify-content: center;  
}
.large-text {
  font-size: 40px;
}

.red-text {
  color: red;
}

